$fontFamily: 'Noto Sans JP', sans-serif;
$fontWeight: bold;
$colorText: #333;

@mixin font ($color: $colorText, $fontSize: 32px) {
    font-weight: $fontWeight;
    font-family: $fontFamily;
    color: $color;
    font-size: $fontSize;
}

@mixin size ($height: 300px, $width: 500px) {
    height: $height;
    width: $width;
}

* {
    margin: 0;
    padding: 0;
}
