$fontFamily: 'Noto Sans JP', sans-serif;
$fontWeight: bold;
$colorText: #333;

@mixin font ($color: $colorText, $fontSize: 32px) {
    font-weight: $fontWeight;
    font-family: $fontFamily;
    color: $color;
    font-size: $fontSize;
}

@mixin size ($height: 300px, $width: 500px) {
    height: $height;
    width: $width;
}

* {
    margin: 0;
    padding: 0;
}

html, body {
    background-color: rgb(219, 147, 80);
}

#Main {
    display: flex;
    align-items: center;
    flex-flow: row wrap;
    justify-content: space-around;
    background-color: rgb(219, 147, 80);

    .mainDiv {
        @include size(600px, 700px);
        margin-top: 150px;
        border: 1px solid black;
        border-radius: 10px;
        background-color: blanchedalmond;

        h1 {
            @include font();
            padding-top: 10px;
            text-align: center;
            margin-bottom: 10px;
        }

        #panel {
            @include size($height: 70px, $width: 100%);
            border: 1px solid black;
            margin-left: -1px;

            #taskName {
                @include font($fontSize: 16px);
                height: 34px;
                width: 400px;
                margin-top: 20px;
                margin-left: 20px;
                padding-left: 10px;
                border-radius: 3px;
                transition: all .2s linear;
                border: 1px solid black;
                box-shadow: 2px 2px 6px 0px grey;

                &:focus {
                    outline: none;
                }
            }

            #addBtn {
                @include size($width: 230px, $height: 34.5px);
                margin-top: -5px;
                margin-left: 20px;
                margin-right: 20px;
                box-shadow: 2px 2px 6px 0px grey;

                &:hover {
                    border: 1px solid black;
                }
            }
        }

        #tasks {
            @include size(150px, 100%);
            margin-left: -1px;

            #result {
                display: flex;
                flex-flow: column wrap;
                justify-content: space-between;

                & > li {
                    display: flex;
                    flex-flow: row nowrap;
                    justify-content: space-between;
                    align-items: center;
                    margin-left: -10px;
                    margin-right: 20px;
                    border-radius: 13px;
                    border: 1px solid black;
                    margin-top: 5px;

                    & > .divBtns {
                        margin-top: 10px;
                        margin-bottom: 10px;

                        & > .deleted {
                            margin-left: 10px;
                            margin-right: 10px;
                        }
                    } 
                }
            }

            .task-item {
                width: 97%;
                display: flex;
                margin-top: 5px;
                margin-left: auto;
                margin-right: auto;
                flex-flow: row wrap;
                justify-content: space-between;
                align-items: center;
                border: 1px solid rgb(219, 147, 80);

                .item {
                    .btn-danger {
                        margin-left: 10px;
                        margin-right: 10px;
                    }
                }

                .task-text {
                    @include font($fontSize: 19px);
                    padding-left: 10px;
                    padding-top: 10px;
                }
            }

            .items {
                display: flex;
                flex-flow: row wrap;
                justify-content: space-between;
            }
        }
        
    }

    .resultBlock {
        width: 700px;
        height: 600px;
        margin-top: 150px;
        border: 1px solid black;
        border-radius: 13px;
        background-color: blanchedalmond;

        #completed {
            height: 290px;
            width: 100%;
            border: 1px solid black;
            border-radius: 13px;

            .text {
                text-align: center;
            }
        }

        #failed {
            height: 290px;
            width: 100%;
            border: 1px solid black;
            border-radius: 13px;

            .text {
                text-align: center;
                margin-left: -20px;
            }
        }
    }
}